*

!.cade
!.editorconfig
!.envrc
!.github/
!.github/**
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!flake.lock
!flake.nix

!src/
!src/**

!examples/
!examples/**

!fuzz/
!fuzz/Cargo.lock
!fuzz/Cargo.toml
!fuzz/fuzz_targets/
!fuzz/fuzz_targets/**
